
        * {
            transition: all 0.3s ease-in-out;
        }
        
        body{
            background-color: #ffe8f6;
        }
        
        #container, #info{
            width: 700px;
            height: 560px;
            margin: 10px auto;
            background-color: #ffe9ef;
            background: url(img/bgaespapolkdot.jpg);
            
            background-size: 150px 150px;
            animation: scroll 5s linear infinite;
            border: 10px solid #ed88af;
            border-radius: 20px;
            text-align: center;
        }

        #info{
            height: 100px;
        }

        @keyframes scroll{
            to{
                background-position: -150px -150px;
            }
        }

        #info {
            font-family: "Montserrat", sans-serif;
        }

        #info h2 {
            color: #de0182;
            margin-bottom: 5px;
        }

        #info p{
            margin-top: 0px;
            color: #e90e8e;
        }

        #image {
            height: 88%;
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        #img {
            margin-top: 0px;
            height: auto;
            width: auto;
            max-height: 500px;
            min-height: 100%;
            animation: gloweffect 2s infinite;
        }

        @keyframes gloweffect {
        0%, 100% {filter: drop-shadow(0 0 0.35rem rgb(255, 65, 185));}
        25% {filter: drop-shadow(0 0 0.65rem rgb(0, 162, 255));}
        50% {filter: drop-shadow(0 0 0.85rem rgb(192, 57, 255));}
        }

        #img:hover {
            transform: scale(1.10);
            transition: transform 0.5s ease;
        }

        #name {
            position: absolute;
            z-index: 99999;
            font-size: 60pt;
            font-family: "Rammetto One", sans-serif;
            width: 100%;
            text-align: center;
            bottom: 0%;
            color: white;
            -webkit-text-stroke: 3px #ed88af;
        }

        button {
            position: relative;
            display: inline-block;
            padding: 15px 20px;
            color: #ffffff;
            font-size: 15px;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #ed88af;
            margin: 2px;
        }

        button:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: calc(100% - 4px);
            height: 50%;
            background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
            border-radius: 10px;
        }

        button:hover {
            color: #ffffff;
            font-size: 19px;
            z-index: 99999;
            border-color: #ff29ad;
        }

        #karina {
            background-image: linear-gradient(rgb(255, 0, 153),rgb(235, 135, 202));
        }
        #winter {
            background-image: linear-gradient(rgb(255, 0, 153),rgb(235, 135, 202));
        }
        #giselle {
            background-image: linear-gradient(rgb(255, 0, 153),rgb(235, 135, 202));
        }
        #ningning {
            background-image: linear-gradient(rgb(255, 0, 153),rgb(235, 135, 202));
        }

        footer{
            text-align: center;
            font-family: "Montserrat", sans-serif;
            color: #de0182;
        }